body {
  background: #333;
  margin:0;
}

li {
  display: inline;
}

le {
  display: inline;
  float: left;
  padding: 30px 80px;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li a {
  display: inline-block;
  color: white;
}

le a {
  display: inline-block;
  color: white;
  text-align: center;
}
/*
li a:hover {
  background-color: #111;
}*/

le .special-color {
  color: #33ccff;
}

la .sizeN{
  font-size: 20px;
}

la .sizeB{
  font-size: 35px;
}

la .sizeS{
  font-size: 15px;
}

.test{
  display: table;
  margin: 0 auto;
}

.text{
  margin: 20 auto;
  //margin-left: -275px;
  background-color: #ffffff;
  float: left;
  height:auto;
  //width:50%;
  width: inherit;
  padding:8px;
  resize: none;
  border:none;
}

.line {
  color: gray;
  margin-right: -90px;
  margin-top: 33.5;
  /* negative value of footer height */
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.divblue{
  background: #0099ff;
  text-align: center;
  color: white;
  margin-left: 710px;
  width: 250px;
  height: 300px;
}
.divimg{
  float: left;
}

.round-button {
  margin-top: 30px;
  margin-left: 60px;
	width:20%;
}
.round-button-circle {
  background: #ffffff;
  width: 230%;
  height: 0px;
  padding-bottom: 70%;
  border-radius: 15%;
  overflow:hidden;
}

.round-button a {
  display:block;
	float:left;
	width:100%;
	padding-top:15%;
	line-height:1em;
	margin-top:-0.5em;
  margin-left: 0px;

	text-align:center;
	color: black;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.clearfix:after {
  display: block;
  clear: both;
}

.btn {
  //margin-left: 40px;
}

.bt {
  margin-left: 55px;
}


/*----- Menu Outline -----*/

.menu-wrap {
  margin-right: auto; margin-left: auto;
  height: 80px;
  width: 1000px;
  //width: auto;
  background: #333;
}

.menu {
  width: auto;
  margin: auto;
}

.menu li:hover > a,
.menu .current-item > a {
  text-decoration: none;
  color: white;
}

.menu .arrow {
  font-size: 11px;
  line-height: 0%;
}


/*----- Top Level -----*/

.menu > ul > li {
  float: left;
  display: inline-block;
  position: relative;
  font-size: 15px;
}

.menu > ul > li > a {
  padding: 50px 15px;
  padding-bottom: 10px;
}

.menu > ul > li:hover > a,
.menu > ul > .current-item > a {
  //background: #111;
}


/*----- Bottom Level -----*/

.menu li:hover .sub-menu {
  z-index: 1;
  opacity: 1;
}

.sub-menu {
  width: 105px;
  padding: 5px 0px;
  position: absolute;
  left: 55px;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
  background: #333;
}

.sub-menu li {
  display: block;
  font-size: 16px;
}

.sub-menu li a {
  padding: 10px 10px;
  display: block;
}

.sub-menu li a:hover,
.sub-menu .current-item a {
  //background: #111;
}

#blue{
   background: #0099ff;
}
